# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs
*.log
*.log.*

# Dependency directories
node_modules/
jspm_packages/

# Testing output
output/
allure-report/
allure-results/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files (WebStorm, VSCode, etc.)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environmental variables
.env

# Coverage reports
coverage/
.nyc_output/

# Temporary files and cache
tmp/
temp/
.cache/

# Mac specific
.AppleDouble
.LSOverride
Icon?

# Test reports and debug files
*.png
*.tmp
*.log
reports/
debug/
trace.json

# Ignore Qodana report files
.qodana/
